<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>评分表编辑器</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery.min.js"
                th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <form th:action="${#httpServletRequest.getParameter('seq')} != null ? '/sheet/update?seq='+ ${#httpServletRequest.getParameter('seq')} :'/sheet'"
                  th:object="${sheet}" method="post">
                <div>
                    <h3><input class="form-control input-lg text-center" placeholder="请输入标题" name="name"
                               th:field="*{name}"/></h3>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center">指标大类</th>
                                <th style="text-align: center">指标小类</th>
                                <th class="text-center">
                                    <button class="btn btn-sm btn-primary" name="addPhase" type="submit">添加大类</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="phase, phaseStat : *{ratingPhases}">
                                <td class="col-sm-2">
                                    名称：<input class="form-control input-sm" type="text"
                                              th:field="*{ratingPhases[__${phaseStat.index}__].name}"/>
                                    最高可得：<input class="form-control input-sm" type="number"
                                                th:field="*{ratingPhases[__${phaseStat.index}__].maxScore}"/>
                                    <br/>
                                    <button class="btn btn-sm btn-danger" name="removePhase" type="submit"
                                            th:value="${phaseStat.index}">删除大类
                                    </button>
                                    <button class="btn btn-sm btn-primary" name="addDetails" type="submit"
                                            th:value="${phaseStat.index}">添加小类
                                    </button>
                                </td>
                                <td>
                                    <ul th:each="details, detailsStat : ${phase.ratingDetails}">
                                        <li>
                                            评分标准：<input class="form-control input-sm" type="text"
                                                        th:field="*{ratingPhases[__${phaseStat.index}__].ratingDetails[__${detailsStat.index}__].description}"/>
                                            每项可得：<input class="form-control input-sm" type="number"
                                                        th:field="*{ratingPhases[__${phaseStat.index}__].ratingDetails[__${detailsStat.index}__].eachScore}"/>
                                            最高可得：<input class="form-control input-sm" type="number"
                                                        th:field="*{ratingPhases[__${phaseStat.index}__].ratingDetails[__${detailsStat.index}__].maxScore}"/>
                                            <br/>
                                            <button class="btn btn-sm btn-danger" name="removeDetails" type="submit"
                                                    th:value="${phaseStat.index} + '|' + ${detailsStat.index}">删除小类
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <p align="center" class="alert alert-danger">
                                        <textarea class="form-control input-lg" name="description" placeholder="请输入注意事项"
                                                  th:field="*{description}"
                                                  style="width: 100%;"></textarea>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary" th:value="提交"/>
                                        <input type="reset" class="btn btn-danger" th:value="重置"/>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </body>
</html>