<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>评分表编辑列表</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootbox/bootbox.min.js"
                th:src="@{/vendor/bootbox/bootbox.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar_sidebar :: navbar_sidebar"></div>
            <div id="page-wrapper" style="min-height: 808px;">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">所有评分表</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-primary" th:href="@{/sheet/editor}">新增评分表</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>总分</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="sheet, sheetStat : ${sheets}">
                                    <td>
                                        <p th:text="${sheetStat.count}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${sheet.name}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${#dates.format(sheet.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${#dates.format(sheet.lastUpdateTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${sheet.maxScore}"></p>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" th:href="'/sheet?seq=' + ${sheet.seq}">查看</a>
                                        <a class="btn btn-sm btn-warning" th:href="'/sheet/editor?seq=' + ${sheet.seq}">编辑</a>
                                        <a class="btn btn-sm btn-warning"
                                           th:onclick="'javascript:dispatchSheet('+${sheet.seq}+')'">派发</a>
                                        <a class="btn btn-sm btn-danger"
                                           th:href="'javascript:deleteSheet('+${sheet.seq}+')'">删除</a>
                                    </td>
                                    <script>
                                        function dispatchSheet(seq) {
                                            bootbox.confirm({
                                                title: "确认派发？",
                                                message: "派发后立即生效，截至时间为 " + new Date().getFullYear() + " 年 12 月 31 日，" +
                                                    "同一年下仅可有一张可用的评分表，重复派发将使其他已派发的评分表不可用",
                                                buttons: {
                                                    cancel: {
                                                        label: '<i class="fa fa-times"></i> 取消'
                                                    },
                                                    confirm: {
                                                        label: '<i class="fa fa-check"></i> 确定'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                        let url = "/sheet/dispatch?seq=" + seq;
                                                        window.location.replace(url);
                                                    }
                                                }
                                            });
                                        }

                                        function deleteSheet(seq) {
                                            bootbox.confirm({
                                                title: "确认删除？",
                                                message: "删除评分表将同时清空相应的派发情况以及评分数据",
                                                buttons: {
                                                    cancel: {
                                                        label: '<i class="fa fa-times"></i> 取消'
                                                    },
                                                    confirm: {
                                                        label: '<i class="fa fa-check"></i> 确定'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                        let url = "/sheet/delete?seq=" + seq;
                                                        window.location.replace(url);
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>