<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>星级组织评定系统</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <div align="center">
                <h3><strong>星级组织评分表</strong></h3>
            </div>
        </div>
    </body>
</html>