<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>星级组织评分系统</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar_sidebar :: navbar_sidebar"></div>
            <div id="page-wrapper" style="min-height: 808px;">
                <div th:each="entry : ${scoresOfOrg}">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header" th:text="${entry.key.getName()}"></h1>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>评分表名称</th>
                                        <th>生效时间</th>
                                        <th>截止时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="score, stat : ${entry.value}">
                                        <td th:text="${stat.count}"></td>
                                        <td th:text="${score.getSheetPlan().getSheet().getName()}"></td>
                                        <td th:text="${#dates.format(score.getSheetPlan().getEffectiveTime(), 'yyyy-MM-dd HH:mm')}"></td>
                                        <td th:text="${#dates.format(score.getSheetPlan().getExpirationTime(), 'yyyy-MM-dd HH:mm')}"></td>
                                        <td>
                                            <button class="btn btn-sm btn-primary"
                                                    th:disabled="${!score.issAFinished()}"
                                                    th:onclick="'javascript:rate('+${score.seq}+')'">考评
                                            </button>
                                            <button class="btn btn-sm btn-primary"
                                                    th:disabled="${!score.issAFinished()}"
                                                    th:onclick="'javascript:view('+${score.seq}+')'">查看
                                            </button>
                                        </td>
                                        <script>
                                            function rate(seq) {
                                                let url = "/score/editor/aa?seq=" + seq;
                                                window.open(url, "_blank");
                                            }

                                            function view(seq) {
                                                let url = "/score?seq=" + seq;
                                                window.open(url, "_blank");
                                            }
                                        </script>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>