<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>星级组织评定系统</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <form th:action="${#httpServletRequest.getParameter('seq')} != null ? '/score/update?seq='+ ${#httpServletRequest.getParameter('seq')} :'/score'"
                  th:object="${score}" method="post">
                <div align="center">
                    <h3 th:text="*{sheetName}"></h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center">指标大类</th>
                                <th style="text-align: center">指标小类</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="phase, phaseStat : *{phases}">
                                <td style="text-align: center; vertical-align: middle">
                                    <p th:text="*{phases[__${phaseStat.index}__].name}"></p>
                                    <p th:text="'满分（' + *{phases[__${phaseStat.index}__].maxScore} + ' 分）'"></p>
                                </td>
                                <td>
                                    <ul th:each="details, detailsStat : ${phase.details}">
                                        <li>
                                            <p th:text="*{phases[__${phaseStat.index}__].details[__${detailsStat.index}__].description}"></p>
                                            <ul>
                                                <li>
                                                    <p th:text="'每项可得：' + *{phases[__${phaseStat.index}__].details[__${detailsStat.index}__].eachScore} + ' 分；最高可得' + *{phases[__${phaseStat.index}__].details[__${detailsStat.index}__].maxScore}"></p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <p align="center" class="alert alert-danger">
                                        <strong th:text="*{sheetDesc}">60 分以上合格，70 分及以上三星级，80 分及以上四星级，90
                                            分及以上五星级。</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary" th:value="提交"/>
                                        <input type="button" class="btn btn-danger" th:value="退出"
                                               onclick="confirmExit()"/>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </body>
</html>