<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>统计图表</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../static/vendor/highcharts/js/highcharts.js"
                th:src="@{/vendor/highcharts/js/highcharts.js}"></script>
        <script src="../../static/vendor/highcharts/js/exporting.js"
                th:src="@{/vendor/highcharts/js/exporting.js}"></script>
        <script src="../../static/vendor/highcharts/js/offline-exporting.js"
                th:src="@{/vendor/highcharts/js/offline-exporting.js}"></script>
        <script src="../../static/vendor/highcharts/js/export-data.js"
                th:src="@{/vendor/highcharts/js/export-data.js}"></script>
        <style type="text/css">
            @media print {
                .areaToHide {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar_sidebar :: navbar_sidebar"></div>
            <div id="page-wrapper" style="min-height: 808px;">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" th:text="统计图表"></h1>
                        <button class="areaToHide btn btn-success" onclick="printArea()">打印此页所有图表</button>
                    </div>
                    <script>
                        function printArea() {
                            // 取得原始的长宽
                            let containerWidth = $("#hc-container-finish-info").highcharts().chartWidth;
                            let containerHeight = $("#hc-container-finish-info").highcharts().chartHeight;
                            // resize 并 print, 否则 print 预览无法显示全部的图表信息
                            $("#hc-container-finish-info").highcharts().setSize(600, 400, false);
                            $("#hc-container-rating-info").highcharts().setSize(600, 400, false);
                            window.print();
                            // after print, restore
                            $("#hc-container-finish-info").highcharts().setSize(containerWidth, containerHeight, false);
                            $("#hc-container-rating-info").highcharts().setSize(containerWidth, containerHeight, false);
                        }
                    </script>
                </div>
                <br/>
                <div class="row">
                    <div id="hc-container-finish-info" class="col-lg-12"></div>
                </div>
                <br/>
                <div class="row">
                    <div id="hc-container-rating-info" class="col-lg-12"></div>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var entrySet = /*[[${reportsOfYear.entrySet()}]]*/ null;
                    /*]]>*/
                    // 图表配置
                    var options = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '评定完成情况图示'
                        },
                        xAxis: {
                            categories: ['总数', '已完成', '未完成']
                        },
                        yAxis: {
                            title: {
                                text: '组织数量'
                            }
                        },
                        series: entrySet.map(entry => {
                            var value = entry['value'];
                            return {
                                name: entry['key'] + " 年",
                                data: [value['totalNum'], value['completeNum'], value['incompleteNum']]
                            }
                        }),
                        exporting: {
                            filename: "评定完成情况图示"
                        },
                        lang: {
                            contextButtonTitle: "图表导出菜单",
                            downloadJPEG: "下载 JPEG 图片",
                            downloadPDF: "下载 PDF 文件",
                            downloadPNG: "下载 PNG 文件",
                            downloadSVG: "下载 SVG 文件",
                            printChart: "打印图表",
                            downloadCSV: '下载 CSV 文件',
                            downloadXLS: '下载 XLS 文件',
                            viewData: '查看数据表格'
                        },
                        credits: {
                            text: '九三学社星级组织评定系统'
                        }
                    };
                    // 图表初始化函数
                    Highcharts.chart('hc-container-finish-info', options);
                </script>

                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var entrySet = /*[[${reportsOfYear.entrySet()}]]*/ null;
                    /*]]>*/
                    // 图表配置
                    var options = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '评定等级情况图示'
                        },
                        xAxis: {
                            categories: ['5 星级', '4 星级', '3 星级', '合格', '不合格']
                        },
                        yAxis: {
                            title: {
                                text: '组织数量'
                            }
                        },
                        series: entrySet.map(entry => {
                            var value = entry['value'];
                            return {
                                name: entry['key'] + " 年",
                                data: [value['lv5Num'], value['lv4Num'], value['lv3Num'], value['qualifiedNum'], value['unqualifiedNum']]
                            }
                        }),
                        exporting: {
                            filename: "评定等级情况图"
                        },
                        lang: {
                            contextButtonTitle: "图表导出菜单",
                            downloadJPEG: "下载 JPEG 图片",
                            downloadPDF: "下载 PDF 文件",
                            downloadPNG: "下载 PNG 文件",
                            downloadSVG: "下载 SVG 文件",
                            printChart: "打印图表",
                            downloadCSV: '下载 CSV 文件',
                            downloadXLS: '下载 XLS 文件',
                            viewData: '查看数据表格'
                        },
                        credits: {
                            text: '九三学社星级组织评定系统'
                        }
                    };
                    // 图表初始化函数
                    Highcharts.chart('hc-container-rating-info', options);
                </script>
            </div>
        </div>
    </body>
</html>