<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>评分资料管理</title>
        <link type="text/css" rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../../static/dist/css/sb-admin-2.css"
              th:href="@{/dist/css/sb-admin-2.css}"/>
        <link href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script type="text/javascript" src="../../static/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/navbar_sidebar :: navbar_sidebar"></div>
            <div id="page-wrapper" style="min-height: 808px;">
                <div th:each="entry : ${orgFilesMap}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <p th:text="${entry.getKey().getName()}"></p>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>名称</th>
                                                        <th>大小</th>
                                                        <th>创建时间</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="file, stat : ${entry.value}">
                                                        <td>
                                                            <p th:text="${stat.count}"></p>
                                                        </td>
                                                        <td>
                                                            <p th:text="${file.name}"></p>
                                                        </td>
                                                        <td>
                                                            <p th:text="${file.length() / 1024} + ' KB'"></p>
                                                        </td>
                                                        <td>
                                                            <p th:text="${#dates.format(new java.util.Date(file.lastModified()), 'yyyy-MM-dd HH:mm:ss')}"></p>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-sm btn-primary"
                                                               th:href="'/file/download' + '?path=' + ${entry.key.code} + '&amp;name=' + ${file.name}">下载</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>