<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <header th:fragment="navbar">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/index">星级组织评定系统</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">管理员 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <!--TODO[2017-12-27][Marcus Lin]: 功能待添加-->
                                    <li><a href="#">个人信息</a></li>
                                    <li role="separator" class="divider"></li>
                                    <!--REMIND[2018-01-14][Marcus Lin]: 为了样式不变形，同时又能采用 form 的 post，故使用此法-->
                                    <li><a style="cursor: pointer;" onclick="logout()">安全登出</a></li>
                                    <script>
                                        function logout() {
                                            $('#logoutBtn').click();
                                        }
                                    </script>
                                </ul>
                            </li>
                        </ul>
                        <form th:action="@{/logout}" method="post">
                            <input id="logoutBtn" hidden="hidden" type="submit" value="安全登出"/>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
    </body>
</html>