<html>

    <head>
        <meta charset="UTF-8">
        <title>评分表</title>
        <script src="../lib/jquery-3.2.1.min.js"></script>
        <script src="../lib/jquery.serializejson.min.js"></script>
    </head>

    <body>
        <form id="scoreForm">
            <table border="1" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <tr>
                        <td width="9%">
                            <p align="center">
                                <a name="OLE_LINK1"><strong>指标大类</strong></a>
                            </p>
                        </td>
                        <td width="75%">
                            <p align="center">
                                <strong>指标小类及评分标准</strong>
                            </p>
                        </td>
                        <td width="7%">
                            <p align="center">
                                <strong>自评分</strong>
                            </p>
                        </td>
                        <td width="7%">
                            <p align="center">
                                <strong>考评分</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%" rowspan="3">
                            <p align="center">
                                会议活动
                            </p>
                            <p align="center">
                                （满分25分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                1.主委会议每次得3分。以工作手册记录和填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="conferActivity[score1]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                2.全体委员会议每次得4分。以工作手册记录和填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="conferActivity[score2]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                3.全体社员会议每次得5分。以工作手册记录和填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="conferActivity[score3]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%" rowspan="7">
                            <p align="center">
                                社务工作
                            </p>
                            <p align="center">
                                （满分30分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                4.委员会有书面的年度工作计划和总结，工作计划切实可行,工作总结全面、实事求是，并以工作计划指导活动，得6分，计划和总结少一项扣3分。以填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score1]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                5.正副主委和委员有分工，并按职责开展工作，得3分。为有效地开展社务工作和履行职能，建立起若干职能小组负责相关工作（如妇女、老年、青年、参政议政、社会服务等），并有效开展活动，得5分。以填报的材料和日常工作为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score2]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                6. 社员参加省级以上社内培训的每次加1分，或获省级以上社内奖励的每项加1分，满分5分。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score3]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                7.注重委员会工作的制度化、规范化，建立并不断完善各项工作制度，得3分。以日常工作为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score4]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                8.能将委员会会议或活动形成的文字、图片等材料整理归档，得3分。以日常工作为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score5]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                9.规范填写社市委发放的基层工作手册，并进行年中检查、年末考核，得3分。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score6]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                10.能与党委保持良好沟通，工作得到党委部门支持，与党委关系融洽，得2分。以日常工作为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="socialWork[score7]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%" rowspan="2">
                            <p align="center">
                                参政议政
                            </p>
                            <p align="center">
                                （满分20分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                11.能围绕社市委和所在地方、单位中心工作召开参政议政方面的会议，得4分。开展专题调研活动得4分。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="politicActivity[score1]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                12.能以委员会名义向社市委报送参政议政材料，或向所在地方、单位建言献策，提交合理化建议，每份材料得3分。其中上报社市委的参政议政材料，被社市委采用加2分；被社省委、中共市委、市人大、市政府、市政协或市委统战部采用加4分；被中共省委、省人大、省政府、省政协或省委统战部采用加6分。同一篇材料不累计加分，按最高加分计分。以填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="politicActivity[score2]"
                                   required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%" rowspan="2">
                            <p align="center">
                                社会服务
                            </p>
                            <p align="center">
                                （满分10分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                13.能召开会议研究委员会的社会服务工作，得4分。以日常工作为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0"
                                   name="socialContribution[score1]" required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>
                                14.以委员会名义组织开展的社会服务活动，不论人数，每次3分。以填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0"
                                   name="socialContribution[score2]" required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%">
                            <p align="center">
                                宣传报道
                            </p>
                            <p align="center">
                                （满分5分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                15.以委员会名义撰写的报道，在社内媒体上发表文章，每篇得2分；在其他刊物上刊登九三工作文章，每篇得3分。同一篇稿件不累计得分，按最高得分计分。以填报的材料为依据。
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" value="0" name="publicity" required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td width="9%">
                            <p align="center">
                                下属支社年度考核结果（满分10分）
                            </p>
                        </td>
                        <td width="75%">
                            <p>
                                16.（所属支社的年度考核量化平均得分×实际参加考核支社数÷应参加考核支社数）÷10
                            </p>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" name="subAssessment" type="number" value="0" required/>
                        </td>
                        <td width="7%">
                            <input style="text-align: center" type="number" disabled/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="button" value="提交" onclick="toJson()">
            <input type="reset">
        </form>
        <p>
            * 60分以上合格，70分及以上三星级，80分及以上四星级，90分及以上五星级。
        </p>

        <script>
            function toJson() {
                // 把整个表单 serialize 成 json 对象
                let formObj = $("#scoreForm").serializeJSON({
                    // 转化为相应类型，如当 type 为 number 时，"1" -> 1
                    parseAll: true
                });
                console.log(formObj);
                let jsonObj = {};
                jsonObj.conferActivity = JSON.stringify(formObj.conferActivity);
                jsonObj.socialWork = JSON.stringify(formObj.socialWork);
                jsonObj.socialContribution = JSON.stringify(formObj.socialContribution);
                jsonObj.politicActivity = JSON.stringify(formObj.politicActivity);
                jsonObj.publicity = JSON.stringify(formObj.publicity);
                jsonObj.subAssessment = JSON.stringify(formObj.subAssessment);
                let jsonString = JSON.stringify(jsonObj);
                console.log(jsonString);
                $.ajax({
                    url: "http://localhost:8080/JiusanStar/rs/score",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "post",
                    dataType: "json",
                    data: jsonString
                });
                alert("提交成功!");
            }
        </script>

    </body>

</html>