<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>星级组织评定系统</title>

        <!-- Bootstrap Core CSS -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>

        <!-- MetisMenu CSS -->
        <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"
              th:href="@{/vendor/metisMenu/metisMenu.min.css}"/>

        <!-- Custom CSS -->
        <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet" th:href="@{/dist/css/sb-admin-2.css}"/>

        <!-- Morris Charts CSS -->
        <link href="../static/vendor/morrisjs/morris.css" rel="stylesheet" th:href="@{/vendor/morrisjs/morris.css}"/>

        <!-- Custom Fonts -->
        <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
              th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            var hmt = hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?26ec974e7be9c751ae6b7b7cf0b86d5c";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <div th:replace="fragments/navbar_sidebar :: navbar_sidebar"></div>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">首页</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../static/vendor/metisMenu/metisMenu.min.js"
                th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="../static/vendor/raphael/raphael.min.js" th:src="@{/vendor/raphael/raphael.min.js}"></script>
        <script src="../static/vendor/morrisjs/morris.min.js" th:src="@{/vendor/morrisjs/morris.min.js}"></script>
        <script src="../static/data/morris-data.js" th:src="@{/data/morris-data.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../static/dist/js/sb-admin-2.js" th:src="@{/dist/js/sb-admin-2.js}"></script>

    </body>

</html>
