<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>星级组织评分表</title>
        <link type="text/css" rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css"
              th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
        <link type="text/css" rel="stylesheet" href="../static/dist/css/templatemo_style.css"
              th:href="@{/dist/css/templatemo_style.css}"/>
        <script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
                th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body class="templatemo-bg-image-1" onload="document.login_form.username.focus()">
        <div class="container">
            <div class="col-md-12">
                <h1 class="margin-bottom-30" style="color: white">星级组织评定系统</h1>
                <form name="login_form"
                      class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30"
                      th:method="POST" th:action="@{/login}">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="control-wrapper">
                                <label>
                                    <i class="fa fa-user"></i> 用户名
                                    <input required="true" class="form-control" name="username"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="control-wrapper">
                                <label>
                                    <i class="fa fa-lock"></i> 密码
                                    <input required="true" type="password" class="form-control" name="password"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox control-wrapper">
                                <label>
                                    <input type="checkbox"/> 记住我，下次直接登录
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="control-wrapper">
                                <input type="submit" value="登录" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </form>
            </div>
        </div>
    </body>
</html>