<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>星级组织评定系统</title>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" th:action="'/upload?' + ${_csrf.parameterName} + '=' + ${_csrf.token}">
                    <input type="file" name="doc" value="请选择文件" />
                    <input type="submit" value="上传" />
                </form>
            </div>
        </div>
    </body>
</html>